<div class="container">
	<div class="page-header">
		<h1>Todo List, <small>with AngularJS</small></h1>
	</div>			
	
		<h3 class="text-center"><small>Delete </small> {{texto}} <small>?</small></h3>
		<div class="form-group">
			<button class="btn btn-danger btn-lg btn-block" ng-click="remove()"><span class="glyphicon glyphicon-minus-sign"></span> Ok</button>
		</div>
		<div class="form-group">
			<a href="#/" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
		</div>
	
</div>